/* Обнуление */
* {
    border: 0;
    margin: 0;
    padding: 0;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}
html,
body {
    height: 100%;
    line-height: 1;
    width: 100%;
}
nav,
footer,
header,
aside {
    display: block;
}
a:focus,
a:active {
    outline: none;
}
input,
button,
textarea {
    font-family: inherit;
}
button {
    cursor: pointer;
}
a,
a:visited {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    height: auto;
    max-width: 100%;
}

/* Локальные шрифты */
@font-face {
    font-family: "Gotham Pro Regular";
    font-display: swap;
    src: url("../fonts/gotham-pro/GothamPro.eot");
    src: url("../fonts/gotham-pro/GothamPro.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/gotham-pro/GothamPro.woff") format("woff"),
        url("../fonts/gotham-pro/GothamPro.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro Medium";
    font-display: swap;
    src: url("../fonts/gotham-pro/GothamPro-Medium.eot");
    src: url("../fonts/gotham-pro/GothamPro-Medium.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/gotham-pro/GothamPro-Medium.woff") format("woff"),
        url("../fonts/gotham-pro/GothamPro-Medium.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Gotham Pro Bold";
    font-display: swap;
    src: url("../fonts/gotham-pro/GothamPro-Bold.eot");
    src: url("../fonts/gotham-pro/GothamPro-Bold.eot?#iefix")
            format("embedded-opentype"),
        url("../fonts/gotham-pro/GothamPro-Bold.woff") format("woff"),
        url("../fonts/gotham-pro/GothamPro-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

/* ----------- CSS ----------- */
body {
    color: #141414;
    font-family: "Gotham Pro Medium";
    font-size: 16px;
}
.container {
    margin: 0 auto;
    max-width: 1330px;
    padding: 0 20px;
}

/* ----------- Header ----------- */
.header {
    background: linear-gradient(90deg, #e3fdf5 0%, #ffe6fa 100%);
    font-family: "Montserrat";
    font-size: 14px;
}
.header__inner {
    align-items: center;
    display: flex;
    margin: 0 -235px;
    min-height: 90px;
}
.header__logo {
    flex: 0 0 235px;
}
.header__logo-link {
    font-size: 0;
}
.header__nav {
    display: flex;
    width: 100%;
}
.header__menu {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.header__list {
    display: flex;
}
.header__item-left {
    line-height: 24px;
    margin: 0px 60px 0px 0px;
}
.header__item-right {
    color: #8b8b8b;
    line-height: 20px;
}
.header__item-right {
    margin: 0px 40px 0px 0px;
}
.header__item-right:last-child {
    margin: 0px 0px 0px 0px;
}
.header__link:hover,
.header__link:focus {
    opacity: 0.6;
}
.header__lesson-wrapper {
    display: flex;
    flex: 0 0 235px;
    justify-content: flex-end;
}
.header__lesson {
    border: 1px solid #141414;
    border-radius: 100px;
    padding: 17px 30px;
}
.header__lesson-link {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}
.hamb {
    display: none;
}
.popup {
    display: none;
}

/* ----------- Main - Hello ----------- */
.main {
    overflow: hidden;
}
.hello {
    background: linear-gradient(90deg, #e3fdf5 0%, #ffe6fa 100%);
}
.hello__wrapper {
    display: flex;
}
.hello__body {
    max-width: 630px;
    position: relative;
}
.hello__circle {
    border: 10px solid #ffc600;
    border-radius: 50%;
    height: 100px;
    margin: 85px 0 14px auto;
    width: 100px;
}
.hello__subtitle {
    background-color: #645cc3;
    border-radius: 15px 30px 30px 0px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 19px;
    padding: 10px 15px;
}
.hello__subtitle-text {
    border-right: 1px solid #ffffff;
}
.hello__title {
    margin: 0px 0px 41px 0px;
    position: relative;
}
.hello__title-text {
    font-size: 96px;
    font-weight: 500;
    line-height: 92px;
    position: relative;
    z-index: 2;
}
.hello__title-img {
    bottom: -8px;
    position: absolute;
    z-index: 1;
}
.hello__location {
    display: flex;
    margin-bottom: 146px;
}
.hello__location-card {
    align-items: center;
    background: #ffffff;
    border-radius: 100px;
    display: flex;
    margin-right: 12px;
    padding: 16px 25px 16px 20px;
}
.hello__location-text {
    padding-left: 10px;
}
.hello__options {
    display: flex;
    padding-bottom: 100px;
    width: 350px;
}
.hello__options-text {
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}
.hello__image {
    margin: 135px 0 0 30px;
    position: relative;
}
.hello__image::after {
    background-color: #5cd8b4;
    border-radius: 25px;
    bottom: 150px;
    content: "";
    height: 38px;
    position: absolute;
    right: -150px;
    transform: rotate(135deg);
    width: 70px;
}
.hello__image-circle {
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
    display: flex;
    height: 160px;
    justify-content: center;
    line-height: 20px;
    padding: 40px;
    position: absolute;
    right: 21px;
    text-align: center;
    top: -23px;
    width: 160px;
}
.hello__vector {
    bottom: 326px;
    left: -142px;
    position: absolute;
}

@media (max-width: 1760px) {
    .header__inner {
        margin: 0;
    }
    .header__logo {
        flex: 0 0 140px;
    }
}
@media (max-width: 1200px) {
    .container {
        max-width: 1160px;
    }
    .header__logo {
        flex: 0 0 110px;
    }
    .header__item-left,
    .header__item-right {
        margin: 0px 20px 0px 0px;
    }
    .header__lesson-wrapper {
        flex: 0 0 210px;
    }
    .header__lesson {
        padding: 12px;
    }
    .hello__circle {
        border: 5px solid #ffc600;
        height: 50px;
        margin: 50px 0 14px auto;
        width: 50px;
    }
    .hello__title-text {
        font-size: 80px;
    }
    .hello__title-img {
        max-width: 70%;
    }
    .hello__image-circle {
        font-size: 12px;
        height: 100px;
        line-height: 1;
        width: 100px;
    }
    .hello__image::after {
        display: none;
    }
    .hello__vector {
        display: none;
    }
    .hello__image-circle {
        top: -40px;
    }
}

@media (max-width: 992px) {
    .container {
        max-width: 952px;
    }
    .header__inner {
        justify-content: space-between;
    }
    .header__nav {
        display: none;
    }
    .hamb {
        display: flex;
        z-index: 11;
    }
    .hamb__field {
        cursor: pointer;
        padding: 10px 0 10px 10px;
    }
    .hamb__field.active .hamb__bar_1 {
        transform: translateY(9px) rotate(45deg);
    }
    .hamb__field.active .hamb__bar_2 {
        opacity: 0;
    }
    .hamb__field.active .hamb__bar_3 {
        transform: translateY(-9px) rotate(-45deg);
    }
    .hamb__bar {
        background-color: #141414;
        display: block;
        height: 3px;
        margin: 6px auto;
        transition: 0.3s;
        width: 30px;
    }
    .popup {
        background-color: #fff;
        display: flex;
        height: 100%;
        left: -100%;
        position: fixed;
        top: 0px;
        transition: 0.3s;
        width: 100%;
        z-index: 10;
    }
    .popup.open {
        left: 0;
    }
    .popup .menu {
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow: auto;
        padding: 65px 0 0 20px;
        width: 100%;
    }
    .menu a {
        color: #3f3f3f;
        font-size: 20px;
        font-weight: bold;
        display: flex;
        justify-content: center;
        padding: 20px 0;
        width: 100%;
    }
    body.noscroll {
        overflow: hidden;
    }
    .hello__title-text {
        font-size: 65px;
        line-height: 70px;
    }
    .hello__location {
        margin-bottom: 100px;
    }
}
@media (max-width: 767px) {
    .hello__title-text {
        font-size: 60px;
        line-height: 70px;
    }
    .hello__location {
        margin-bottom: 80px;
    }
    .hello__options-card {
        text-align: center;
    }
    .hello__options {
        gap: 20px;
        padding-bottom: 0;
        width: 100%;
    }
    .hello__options-text {
        font-size: 16px;
        padding-top: 10px;
    }
    .hello__wrapper{
        flex-wrap: wrap;
    }
    .hello__image {
        margin: 50px 100px;
    }
    .hello__image-circle{
        display: none;
    }
}
@media (max-width: 425px) {
    .hello__subtitle, .hello__circle, .hello__options{
        display: none;
    }
    .hello__image {
        margin: 35px 0px;
    }
    .hello__location {
        margin-bottom: 0px;
    }
    .hello__title-text{
        font-size: 48px;
        line-height: 46px;
    }
}
@media (max-width: 375px) {
    .hello__title-text{
        font-size: 42px;
    }
}

/* ----------- Main - Enjoy ----------- */
.enjoy {
    background: #645cc3;
}
.enjoy__wrapper {
    position: relative;
}
.enjoy__image {
    left: -255px;
    position: absolute;
    top: 54px;
    z-index: 2;
}
.enjoy__image-vector {
    left: -211px;
    position: absolute;
    top: 117px;
}
.enjoy__body {
    display: flex;
}
.enjoy__item {
    padding-top: 277px;
}
.enjoy__text {
    color: #ffffff;
    font-family: "Gotham Pro Bold";
    font-size: 56px;
    line-height: 54px;
    max-width: 630px;
}
.enjoy-circle-wrap {
    position: relative;
}
.enjoy__circle {
    background: #ffffff;
    border-radius: 50%;
    height: 175px;
    margin-top: 40px;
    width: 175px;
}
.enjoy__circle-text {
    color: #141414;
    line-height: 24px;
    padding: 63px 46px;
    text-align: center;
}
.enjoy__line {
    bottom: 8px;
    left: 462px;
    position: absolute;
}
.enjoy__smile {
    margin: 225px 0 225px 31px;
    position: relative;
}
.enjoy__smile::after {
    border: 6px solid #ffffff;
    border-radius: 50%;
    content: "";
    height: 64px;
    opacity: 0.5;
    position: absolute;
    right: -23px;
    top: -48px;
    width: 64px;
}
.enjoy__smile-vector {
    bottom: -53px;
    position: absolute;
    right: -115px;
}

@media (max-width: 1800px) {
    .enjoy__image {
        left: 29px;
        top: 33px;
    }
    .enjoy__image-vector {
        left: 73px;
        top: 96px;
    }
    .enjoy__smile::after, .enjoy__smile-vector {
        right: 0;
    }
}
@media (max-width: 1200px) {
    .enjoy__smile::after, .enjoy__smile-vector {
        display: none;
    }
}
@media (max-width: 992px) {
    .enjoy__body{
        flex-wrap: wrap;
    }
    .enjoy__item{
        flex: 1 1 auto;
    }
    .enjoy__text{
        min-width: 100%;
    }
    .enjoy__smile{
        margin: 30px 0;
        display: flex;
        justify-content: center;
        width: 100%;
    }
}
@media (max-width: 768px) {
    .enjoy-circle-wrap{
        display: flex;
        justify-content: center;
    }
    .enjoy__text {
        font-size: 48px;
    }
    .enjoy__circle {
        height: 175px;
        width: 175px;
    }
    .enjoy__line {
        display: none;
    }
}
@media (max-width: 425px) {
    .enjoy__text{
        font-size: 42px;
        line-height: 40px;
    }
}

/* ----------- Main - Prices ----------- */
.prices {
    background: #f7f7f8;
}
.prices__title {
    font-size: 48px;
    line-height: 38px;
    padding: 120px 0 90px;
}
.prices__programs {
    border-bottom: 1px solid rgba(20, 20, 20, 0.25);
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-bottom: 33px;
}
.prices__programs-card {
    padding-left: 67px;
}
.prices__label {
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
}
.prices__label-input {
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.prices__label-input:checked + .prices__label-radio {
    background: #fb4516;
    border-radius: 16px;
    bottom: -33px;
    display: block;
    height: 8px;
    left: -67px;
    position: absolute;
    width: 410px;
}
.prices__label-name {
    padding-left: 24px;
}
.prices__label-title {
    font-size: 24px;
    line-height: 24px;
    padding: 0 74px 4px 0;
}
.prices__label-subtitle {
    color: #8b8b8b;
    font-size: 16px;
    line-height: 24px;
}
.prices__inner {
    margin: 0 auto;
    max-width: 1450px;
}
.prices__box-cards {
    column-gap: 30px;
    display: flex;
    justify-content: center;
    margin: 0 -80px;
    padding-bottom: 80px;
    position: relative;
}
.prices__box-card {
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.08);
    flex-basis: 340px;
    overflow: hidden;
}
.prices__box-card-decor {
    background: url(../img/prices/prices-vector.svg) no-repeat left top;
    display: flex;
    height: 80px;
    margin-left: auto;
    width: 170px;
}
.prices__box-card-img {
    height: 36px;
    margin: 15px 9px 29px 30px;
    width: 36px;
}
.prices__box-card-text {
    color: #ffffff;
    font-size: 16px;
    line-height: 20px;
}
.prices__box-card-text_1 {
    margin-top: 13px;
}
.prices__box-card-text_3 {
    margin: 23px 35px;
}
.prices__box-title {
    color: #645cc3;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}
.prices__box-title_1,
.prices__box-title_3 {
    padding: 14px 0 24px;
}
.prices__box-title_2,
.prices__box-title_4 {
    padding: 94px 0 24px;
}
.prices__price-table {
    align-items: center;
    background: #f7f5ff;
    border-radius: 100px;
    color: #645cc3;
    display: flex;
    height: 76px;
    justify-content: center;
    margin: 0 auto 24px;
    width: 300px;
}
.prices__price-name {
    font-size: 20px;
    line-height: 32px;
}
.prices__price-text {
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
}
.prices__price-column_1 {
    padding-right: 18px;
    position: relative;
}
.prices__price-column_1::after {
    background-color: #645cc3;
    content: "";
    height: 37px;
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 8px;
    width: 1px;
}
.prices__price-column_2 {
    padding-left: 16px;
}
.prices__list {
    margin: 0 20px 10px;
}
.prices__price-desc {
    background: url(../img/prices/prices-check.svg) no-repeat left top;
    background-size: 20px;
    line-height: 20px;
    padding: 0 0 20px 32px;
}
.prices__price-desc:last-child {
    max-width: 222px;
}
.price__arrows {
    bottom: -55px;
    display: flex;
    position: absolute;
    right: 0;
}
.price__arrow {
    align-items: center;
    background: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
}
.price__arrow:last-child {
    margin-left: 10px;
}
.price__arrow:hover,
.price__arrow:focus,
.price__arrow:active {
    background: #f1eaea;
}
.price__button-inner {
    display: flex;
    justify-content: center;
    padding-bottom: 71px;
}
.price__button {
    background: #645cc3;
    border-radius: 100px;
    color: #ffffff;
    font-size: 16px;
    line-height: 24px;
    padding: 18px 48px;
}
.price__button:hover,
.price__button:focus,
.price__button:active {
    background: #534ca1;
}

@media (max-width: 1500px) {
    .prices__box-cards {
        gap: 30px;
        margin: 0;
    }
}
@media (max-width: 1300px){
    .prices__box-cards{
        flex-wrap: wrap;
    }
    .prices__programs{
        margin-bottom: 50px;
    }
}
@media (max-width: 992px) {
    .prices__label-name {
        padding-left: 10px;
    }
    .prices__programs-card {
       padding-left: 0px;
    }
    .prices__label-input:checked + .prices__label-radio {
        left: 0;
        width: 100%;
    }
}
   
@media (max-width: 768px){
    .prices__programs-card {
        padding-left: 0px;
    }
    .prices__box-cards {
        flex-wrap: wrap;
        gap: 15px;
    }
    .prices__label-title {
        font-size: 18px;
        padding: 0 20px 4px 0;
    }
    .prices__title {
        font-size: 40px;
        line-height: 38px;
        padding: 100px 0 50px;
    }
    .prices__label-icon{
        display: none;
    }
    .price__arrows{
        display: none;
    }
    .prices__box-cards {
        padding-bottom: 40px;
    }
}
@media (max-width: 425px) {
    .prices__title{
        font-size: 32px;
        padding: 48px 0 24px;
    }
    .prices__label-title {
        padding: 0 4px 4px 0;
    }
    .prices__price-table{
        max-width: 275px;
    }
    .price__button{
        padding: 18px 30px;
    }
}

/* ----------- Main - Gifts ----------- */
.gifts__title {
    font-size: 36px;
    line-height: 32px;
    padding: 291px 0 60px;
}
.gifts__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 120px;
}
.gifts__card {
    background: #f7f7f8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-between;
    padding: 24px 30px;
    width: 410px;
}
.gifts__card_1 {
    background: #f7f7f8;
}
.gifts__card_2 {
    background: linear-gradient(
        90deg,
        #645cc3 0%,
        rgba(100, 92, 195, 0.75) 100%
    );
}
.gifts__card_3 {
    background: linear-gradient(90deg, #ffc600 0%, rgba(255, 198, 0, 0.5) 100%);
}
.gifts__card_4 {
    background: linear-gradient(
        90deg,
        #fb4516 0%,
        rgba(251, 69, 22, 0.75) 100%
    );
}
.gifts__card_5 {
    background: linear-gradient(
        90deg,
        #5cd8b4 0%,
        rgba(92, 216, 180, 0.75) 100%
    );
}
.gifts__card_6 {
    background: linear-gradient(90deg, #d35cde 0%, #ff7bc4 100%);
}
.gifts__icon {
    height: 32px;
    width: 32px;
}
.gifts__text {
    font-size: 18px;
    line-height: 24px;
}
.gifts__text_2,
.gifts__text_4,
.gifts__text_5,
.gifts__text_6 {
    color: #ffffff;
}

@media (max-width: 1400px) {
    .gifts__title {
        padding: 100px 0 60px;
    }
    .gifts__cards {
        justify-content: center;
    }
    .gifts__card {
        flex: 1 0 30%;
        height: auto;
    }
    .gifts__text{
        padding-top: 15px;
    }
}
@media (max-width: 992px) {
    .gifts__card {
        min-height: 300px;
    }      
}
@media (max-width: 768px) {
    .gifts__title {
        padding: 80px 0 40px;
    }
    .gifts__cards {
        gap: 20px;
        padding: 20px 0 50px;
    }
    .gifts__card {
        flex: 1 0 40%;
        min-height: auto;
    }
    .gifts__text {
        font-size: 14px;
        line-height: 18px;
    }
}
@media (max-width: 425px) {
    .gifts__card {
        flex: 1 0 100%;
        height: auto;
    }
    .gifts__cards {
        gap: 10px;
    }
}

/* ----------- Main - Process ----------- */
.process {
    background: #f7f7f8;
    overflow: hidden;
    position: relative;
}
.process__inner {
    position: relative;
    z-index: 1;
}
.process__background-img {
    position: absolute;
    right: 0;
    top: 74px;
}
.process__title {
    font-size: 64px;
    line-height: 61px;
    padding: 120px 0 30px;
}
.process__subtitle {
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 60px;
}
.process__cards {
    display: flex;
    gap: 30px;
    padding-bottom: 295px;
}
.process__card {
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-basis: 350px;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    padding: 30px;
}
.process__icon {
    height: 32px;
    width: 32px;
}
.process__card-title {
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 12px;
}
.process__card-text {
    font-size: 14px;
    line-height: 20px;
}

@media (max-width: 992px) {
    .process__cards {
        flex-wrap: wrap;
        gap: 28px;
        justify-content: space-evenly;
        padding-bottom: 50px;
    }
    .process__card {
        height: auto;
    }
    .process__title {
        font-size: 50px;
        padding: 80px 0 30px;
    }
    .process__card-title {
        padding: 100px 0 12px;
    }
}
@media (max-width: 768px) {
    .process__title {
        font-size: 40px;
        padding: 60px 0 20px;
    }
    .process__subtitle {
        font-size: 26px;
        line-height: 28px;
        margin-bottom: 40px;
    }
}
@media (max-width: 425px) {
    .process__title {
        font-size: 32px;
        line-height: 40px;
        padding: 48px 0 12px;
    }
    .process__subtitle {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 24px;
    }
}

/* ----------- Main - Free ----------- */
.free {
    background: linear-gradient(
        90deg,
        #645cc3 0%,
        rgba(100, 92, 195, 0.75) 100%
    );
}
.free__fly {
    background: linear-gradient(85.79deg, #ffc600 0%, #ffdd66 100%);
    border-radius: 24px;
    display: flex;
    height: 350px;
    margin: -175px 0 0;
    position: relative;
}
.free__fly-img {
    height: 316px;
    margin: 28px 0 0 -276px;
    width: 674px;
}
.free__fly-info {
    background: url(../img/free/sun.svg) no-repeat;
    margin: 66px 0 0 20px;
    max-width: 550px;
}
.free__fly-date {
    line-height: 24px;
    padding: 4px 0 16px 42px;
}
.free__fly-title {
    font-size: 36px;
    line-height: 44px;
}
.free__fly-links {
    margin-top: 40px;
}
.free__fly-link {
    background: #ffffff url(../img/free/play.svg) no-repeat 18px center;
    border-radius: 100px;
    box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
    padding: 16px 25px 16px 50px;
}
.free__fly-about {
    border: 1px solid #141414;
    border-radius: 100px;
    margin-left: 12px;
    padding: 16px 30px;
}
.free__forms {
    display: flex;
    justify-content: space-between;
    padding: 120px 80px 160px;
    position: relative;
    z-index: 2;
}
.free__forms::before {
    border: 6px solid #ffffff;
    border-radius: 50%;
    content: "";
    height: 64px;
    left: -131px;
    opacity: 0.5;
    position: absolute;
    top: 65px;
    width: 64px;
}
.free__forms-left {
    color: #ffffff;
    width: 472px;
}
.free__forms-title {
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 40px;
}
.free__forms-subtitle {
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
}
.free__forms-list {
    font-family: "Gotham Pro Regular";
}
.free__forms-item {
    background: url(../img/free/circle.svg) no-repeat left;
    line-height: 24px;
    margin: 0 0 12px 0;
    padding: 0px 0px 0px 12px;
}
.free__forms-right {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 30px 40px 40px;
    position: relative;
    width: 400px;
}
.free__form-title {
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}
.free__form-name,
.free__form-phone {
    background: #f7f7f8;
    border-radius: 100px;
    height: 48px;
    padding: 0px 0px 0px 24px;
    width: 320px;
}
.free__form-phone {
    margin: 12px 0 30px;
}
.free__form-button {
    background: #645cc3;
    border-radius: 100px;
    color: #ffffff;
    height: 48px;
    width: 320px;
}
.free__form-image {
    left: -230px;
    position: absolute;
    top: -60px;
    z-index: -1;
}
@media (max-width: 992px) {
    .free__fly {
        align-items: center;
        border-radius: 0;
        flex-direction: column;
        height: 100%;
        margin: 0 -40px;
    }
    .free__fly-img {
        height: auto;
        margin: 40px 0;
        padding: 0 20px;
        width: auto;
    }
    .free__fly-info {
        margin: 0 40px;
        max-width: 100%;
    }
    .free__forms {
        padding: 120px 0px;
    }
    .free__fly-links {
        margin: 40px 0;
    }
}
@media (max-width: 768px) {
    .free__forms {
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
        padding: 40px 0px;
        width: 100%;
    }
    .free__forms-left{
        width: 100%;
    }
    .free__fly-links{
        display: flex;
        flex-wrap: wrap;
        gap: 12px;
        justify-content: center;
        text-align: center;
    }
    .free__fly-about, .free__fly-link{
        margin: 0;
    }
}
@media (max-width: 425px) {
    .free__forms {
        padding: 0;
    }
    .free__forms-title{
        font-size: 32px;
        line-height: 40px;
        padding: 48px 0 32px;
    }
    .free__forms-subtitle{
        font-size: 20px;
        line-height: 24px;
    }
    .free__forms-right, .free__form-name, .free__form-phone, .free__form-button, .free__fly-about, .free__fly-link {
        width: 100%;
    }
    .free__forms-right{
        margin-bottom: 48px;
    }
    .free__fly-info{
        max-width: 80%;
    }
}
@media (max-width: 375px) {
    .free__fly-title{
        font-size: 32px;
    }
}

/* ----------- Footer ----------- */
.footer__wrapper {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding: 60px 80px 86px;
}
.footer__contacts {
    max-width: 250px;
}
.footer__contacts-tel {
    font-size: 24px;
    line-height: 32px;
    margin: 0px 0px 10px 0px;
}
.footer__contacts-time {
    font-size: 14px;
    line-height: 18px;
    margin: 0px 0px 24px 0px;
}
.footer__socials-link {
    font-size: 0;
    margin: 0px 12px 0px 0px;
}
.footer__socials-icon {
    height: 32px;
    width: 32px;
}
.footer__politics-item {
    color: #8b8b8b;
    font-family: "Gotham Pro Regular";
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 15px 0px;
}
.footer__downloads-link:last-child {
    margin: 0px 0px 0px 8px;
}

@media (max-width: 1200px) {
    .footer__downloads{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        height: 100%;
    }
    .footer__downloads-link:last-child {
        margin: 0;
    }
}
@media (max-width: 992px) {
    .footer__wrapper {
        padding: 60px 20px;
    }
    .footer__wrapper {
        flex-wrap: wrap;
    }
    .footer__politics{
        order: 3;
    }
}
@media (max-width: 768px) {
    .footer__wrapper{
        gap: 48px;
        padding: 48px 20px;
    }
}
@media (max-width: 425px) {
    .footer__wrapper{
        padding: 48px 0px;
    }
}

