/* Обнуление */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{box-sizing: border-box;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;}
nav,footer,header,aside{display: block;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
a,a:visited{text-decoration: none;color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{max-width: 100%;height: auto;}


/* Локальные шрифты */
@font-face {
    font-family: 'Gotham Pro Regular';
    font-display: swap;
    src: url('../fonts/gotham-pro/GothamPro.eot');
    src: url('../fonts/gotham-pro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham-pro/GothamPro.woff') format('woff'),
    url('../fonts/gotham-pro/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Medium';
    font-display: swap;
    src: url('../fonts/gotham-pro/GothamPro-Medium.eot');
    src: url('../fonts/gotham-pro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham-pro/GothamPro-Medium.woff') format('woff'),
    url('../fonts/gotham-pro/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Bold';
    font-display: swap;
    src: url('../fonts/gotham-pro/GothamPro-Bold.eot');
    src: url('../fonts/gotham-pro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham-pro/GothamPro-Bold.woff') format('woff'),
    url('../fonts/gotham-pro/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------- CSS ----------- */
body{
    color: #141414;
    font-family: "Gotham Pro Medium";
    font-size: 16px;
}
.container{
    margin: 0 auto;
    max-width: 1330px;
    padding: 0 20px;
}

/* ----------- Header ----------- */
.header{
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
}
.header__wrapper{
    height: 90px;
    position: relative;
}
.header__logo{
    left: -234px;
    position: absolute;
    top: 25px;
}
.header__menu{
    display: flex;
    justify-content: space-between;
}
.header__list{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.header__menu-left{
    padding: 33px 0;
}
.header__item-left{
    line-height: 24px;
}
.header__item-left + .header__item-left{
    margin-left: 60px;
}
.header__menu-right{
    padding: 35px 0;
}
.header__item-right{
    color: #8B8B8B;
    line-height: 20px;
}
.header__item-right + .header__item-right{
    margin-left: 40px;
}
.header__link:hover, .header__link:focus{
    opacity: .6;
}
.header__lesson{
    border: 1px solid #141414;
    border-radius: 100px;
    margin: 21px 0;
    padding: 14px 30px;
    position: absolute;
    right: -235px;
    top: 0;
}
.header__lesson-link{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

/* ----------- Main - Hello ----------- */
.main{
    overflow: hidden;
}
.hello{
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
}
.hello__wrapper{
    display: flex;
}
.hello__body{
    max-width: 630px;
    position: relative;
}
.hello__circle{
    border: 10px solid #FFC600;
    border-radius: 50%;
    height: 100px;
    margin: 85px 0 14px auto;
    width: 100px;
}
.hello__subtitle{
    background-color: #645CC3;
    border-radius: 15px 30px 30px 0px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 19px;
    padding: 10px 15px;
}
.hello__subtitle-text{
    border-right: 1px solid #FFFFFF;
}
.hello__title{
    margin: 0px 0px 41px 0px;
    position: relative;
}
.hello__title-text{
    font-size: 96px;
    font-weight: 500;
    line-height: 92px;
    position: relative;
    z-index: 2;
}
.hello__title-img{
    bottom: -8px;
    position: absolute;
    z-index: 1;
}
.hello__location{
    display: flex;
    margin-bottom: 146px;
}
.hello__location-card{
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    margin-right: 12px;
    padding: 16px 25px 16px 20px;
}
.hello__location-text{
    padding-left: 10px;
}
.hello__options{
    display: flex;
    padding-bottom: 100px;
    width: 350px;
}
.hello__options-text{
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}
.hello__image{
    margin: 135px 0 0 30px;
    position: relative;
}
.hello__image::after{
    background-color: #5CD8B4;
    border-radius: 25px;
    bottom: 150px;
    content: "";
    height: 38px;
    position: absolute;
    right: -150px;
    transform: rotate(135deg);
    width: 70px;
}
.hello__image-circle{
    background: #FFFFFF;
    border-radius: 100px;
    box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
    height: 160px;
    position: absolute;
    right: 21px;
    top: -23px;
    width: 160px;
}
.hello__image-text{
    line-height: 20px;
    padding: 40px;
    text-align: center;
}
.hello__vector{
    bottom: 326px;
    left: -142px;
    position: absolute;
}

/* ----------- Main - Enjoy ----------- */
.enjoy {
    background: #645CC3;
}
.enjoy__wrapper {
    position: relative;
}
.enjoy__image {
    left: -255px;
    position: absolute;
    top: 54px;
    z-index: 2;
}
.enjoy__image-vector{
    left: -211px;
    position: absolute;
    top: 117px;
}
.enjoy__body {
    display: flex;
}
.enjoy__item {
    padding-top: 277px;
}
.enjoy__text {
    color: #FFFFFF;
    font-family: 'Gotham Pro Bold';
    font-size: 56px;
    line-height: 54px;
    max-width: 630px;
}
.enjoy-circle-wrap{
    position: relative; 
}
.enjoy__circle {
    background: #FFFFFF;
    border-radius: 50%;
    height: 175px;
    margin-top: 40px;
    width: 175px;
}
.enjoy__circle-text {
    color: #141414;
    line-height: 24px;
    padding: 63px 46px;
    text-align: center;
}
.enjoy__line {
    bottom: 8px;
    left: 462px;
    position: absolute;
}
.enjoy__smile {
    margin: 225px 0 225px 31px;
    position: relative;
}
.enjoy__smile::after{
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    content: '';
    height: 64px;
    opacity: 0.5;
    position: absolute;
    right: -23px;
    top: -48px;
    width: 64px;
}
.enjoy__smile-vector {
    bottom: -53px;
    position: absolute;
    right: -115px;
}

/* ----------- Main - Prices ----------- */
.prices{
    background: #F7F7F8;
}
.prices__title{
    font-size: 48px;
    line-height: 38px;
    padding: 120px 0 90px;
}
.prices__programs{
    border-bottom: 1px solid rgba(20, 20, 20, .25);
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-bottom: 33px;
}
.prices__programs-card{
    padding-left: 67px;
}
.prices__label{
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
}
.prices__label-input{
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.prices__label-input:checked + .prices__label-radio{
    background: #FB4516;
    border-radius: 16px;
    bottom: -33px;
    display: block;
    height: 8px;
    left: -67px;
    position: absolute;
    width: 410px;
}
.prices__label-name{
    padding-left: 24px;
}
.prices__label-title{
    font-size: 24px;
    line-height: 24px;
    padding: 0 74px 4px 0;
}
.prices__label-subtitle{
    color: #8B8B8B;
    font-size: 16px;
    line-height: 24px;
}
.prices__inner{
    margin: 0 auto;
    max-width: 1450px;
}
.prices__box-cards{
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    margin: 0 -80px;
    column-gap: 30px;
}
.prices__box-card{
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.08);
    flex-basis: 340px;
}
.prices__box-title{
    color: #645CC3;
    font-size: 32px;
    line-height: 32px;
    padding: 94px 0 24px;
    text-align: center;
}
.prices__price-table{
    display: flex;
    width: 300px;
    height: 76px;
    background: #F7F5FF;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}



/* ----------- Footer ----------- */