/* Обнуление */
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{box-sizing: border-box;}
html,body{height:100%;width:100%;line-height:1;}
nav,footer,header,aside{display: block;}
a:focus,a:active{outline: none;}
input,button,textarea{font-family:inherit;}
button{cursor: pointer;}
a,a:visited{text-decoration: none;color: inherit;cursor: pointer;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{max-width: 100%;height: auto;}


/* Локальные шрифты */
@font-face {
    font-family: 'Gotham Pro Regular';
    font-display: swap;
    src: url('../fonts/gotham-pro/GothamPro.eot');
    src: url('../fonts/gotham-pro/GothamPro.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham-pro/GothamPro.woff') format('woff'),
    url('../fonts/gotham-pro/GothamPro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Medium';
    font-display: swap;
    src: url('../fonts/gotham-pro/GothamPro-Medium.eot');
    src: url('../fonts/gotham-pro/GothamPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham-pro/GothamPro-Medium.woff') format('woff'),
    url('../fonts/gotham-pro/GothamPro-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro Bold';
    font-display: swap;
    src: url('../fonts/gotham-pro/GothamPro-Bold.eot');
    src: url('../fonts/gotham-pro/GothamPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/gotham-pro/GothamPro-Bold.woff') format('woff'),
    url('../fonts/gotham-pro/GothamPro-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* ----------- CSS ----------- */
body{
    color: #141414;
    font-family: "Gotham Pro Medium";
    font-size: 16px;
}
.container{
    margin: 0 auto;
    max-width: 1330px;
    padding: 0 20px;
}

/* ----------- Header ----------- */
.header{
    display: flex;
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
    justify-content: center;
    height: 90px;
}
.header__logo{
    width: 235px;
    align-self: center;
}
.header__logo-link{
    font-size: 0;
}
.header__menu{
    display: flex;
    width: 1290px;
    justify-content: space-between;
}
.header__list{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 500;
    display: flex;
}
.header__menu-left{
    padding: 33px 0;
}
.header__item-left{
    line-height: 24px;
}
.header__item-left + .header__item-left{
    margin-left: 60px;
}
.header__menu-right{
    padding: 35px 0;
}
.header__item-right{
    color: #8B8B8B;
    line-height: 20px;
}
.header__item-right + .header__item-right{
    margin-left: 40px;
}
.header__link:hover, .header__link:focus{
    opacity: .6;
}
.header__lesson{
    border: 1px solid #141414;
    border-radius: 100px;
    margin: 0 0 0 39px;
    align-self: center;
    padding: 14px 30px;
}
.header__lesson-link{
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

/* ----------- Main - Hello ----------- */
.main{
    overflow: hidden;
}
.hello{
    background: linear-gradient(90deg, #E3FDF5 0%, #FFE6FA 100%);
}
.hello__wrapper{
    display: flex;
}
.hello__body{
    max-width: 630px;
    position: relative;
}
.hello__circle{
    border: 10px solid #FFC600;
    border-radius: 50%;
    height: 100px;
    margin: 85px 0 14px auto;
    width: 100px;
}
.hello__subtitle{
    background-color: #645CC3;
    border-radius: 15px 30px 30px 0px;
    color: #fff;
    display: inline-block;
    font-size: 24px;
    line-height: 20px;
    margin-bottom: 19px;
    padding: 10px 15px;
}
.hello__subtitle-text{
    border-right: 1px solid #FFFFFF;
}
.hello__title{
    margin: 0px 0px 41px 0px;
    position: relative;
}
.hello__title-text{
    font-size: 96px;
    font-weight: 500;
    line-height: 92px;
    position: relative;
    z-index: 2;
}
.hello__title-img{
    bottom: -8px;
    position: absolute;
    z-index: 1;
}
.hello__location{
    display: flex;
    margin-bottom: 146px;
}
.hello__location-card{
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px;
    display: flex;
    margin-right: 12px;
    padding: 16px 25px 16px 20px;
}
.hello__location-text{
    padding-left: 10px;
}
.hello__options{
    display: flex;
    padding-bottom: 100px;
    width: 350px;
}
.hello__options-text{
    font-size: 24px;
    line-height: 32px;
    padding-top: 20px;
}
.hello__image{
    margin: 135px 0 0 30px;
    position: relative;
}
.hello__image::after{
    background-color: #5CD8B4;
    border-radius: 25px;
    bottom: 150px;
    content: "";
    height: 38px;
    position: absolute;
    right: -150px;
    transform: rotate(135deg);
    width: 70px;
}
.hello__image-circle{
    background: #FFFFFF;
    border-radius: 100px;
    box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
    height: 160px;
    position: absolute;
    right: 21px;
    top: -23px;
    width: 160px;
}
.hello__image-text{
    line-height: 20px;
    padding: 40px;
    text-align: center;
}
.hello__vector{
    bottom: 326px;
    left: -142px;
    position: absolute;
}

/* ----------- Main - Enjoy ----------- */
.enjoy {
    background: #645CC3;
}
.enjoy__wrapper {
    position: relative;
}
.enjoy__image {
    left: -255px;
    position: absolute;
    top: 54px;
    z-index: 2;
}
.enjoy__image-vector{
    left: -211px;
    position: absolute;
    top: 117px;
}
.enjoy__body {
    display: flex;
}
.enjoy__item {
    padding-top: 277px;
}
.enjoy__text {
    color: #FFFFFF;
    font-family: 'Gotham Pro Bold';
    font-size: 56px;
    line-height: 54px;
    max-width: 630px;
}
.enjoy-circle-wrap{
    position: relative; 
}
.enjoy__circle {
    background: #FFFFFF;
    border-radius: 50%;
    height: 175px;
    margin-top: 40px;
    width: 175px;
}
.enjoy__circle-text {
    color: #141414;
    line-height: 24px;
    padding: 63px 46px;
    text-align: center;
}
.enjoy__line {
    bottom: 8px;
    left: 462px;
    position: absolute;
}
.enjoy__smile {
    margin: 225px 0 225px 31px;
    position: relative;
}
.enjoy__smile::after{
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    content: '';
    height: 64px;
    opacity: 0.5;
    position: absolute;
    right: -23px;
    top: -48px;
    width: 64px;
}
.enjoy__smile-vector {
    bottom: -53px;
    position: absolute;
    right: -115px;
}

/* ----------- Main - Prices ----------- */
.prices{
    background: #F7F7F8;
}
.prices__title{
    font-size: 48px;
    line-height: 38px;
    padding: 120px 0 90px;
}
.prices__programs{
    border-bottom: 1px solid rgba(20, 20, 20, .25);
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-bottom: 33px;
}
.prices__programs-card{
    padding-left: 67px;
}
.prices__label{
    align-items: center;
    cursor: pointer;
    display: flex;
    position: relative;
}
.prices__label-input{
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    width: 1px;
}
.prices__label-input:checked + .prices__label-radio{
    background: #FB4516;
    border-radius: 16px;
    bottom: -33px;
    display: block;
    height: 8px;
    left: -67px;
    position: absolute;
    width: 410px;
}
.prices__label-name{
    padding-left: 24px;
}
.prices__label-title{
    font-size: 24px;
    line-height: 24px;
    padding: 0 74px 4px 0;
}
.prices__label-subtitle{
    color: #8B8B8B;
    font-size: 16px;
    line-height: 24px;
}
.prices__inner{
    margin: 0 auto;
    max-width: 1450px;
}
.prices__box-cards{
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
    margin: 0 -80px;
    column-gap: 30px;
    position: relative;
}
.prices__box-card{
    background: #FFFFFF;
    border-radius: 24px;
    box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.08);
    flex-basis: 340px;
    overflow: hidden;
}
.prices__box-card-decor{
    background: url(../img/prices/prices-vector.svg) no-repeat left top;
    display: flex;
    height: 80px;
    margin-left: auto;
    width: 170px;
}
.prices__box-card-img{
    width: 36px;
    height: 36px;
    margin: 15px 9px 29px 30px;
}
.prices__box-card-text{
    color: #FFFFFF;
    font-size: 16px;
    line-height: 20px;
}
.prices__box-card-text_1{
    margin-top: 13px;
}
.prices__box-card-text_3{
    margin: 23px 35px;
}
.prices__box-title{
    color: #645CC3;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
}
.prices__box-title_1, .prices__box-title_3{
    padding: 14px 0 24px;
}
.prices__box-title_2, .prices__box-title_4{
    padding: 94px 0 24px;
}
.prices__price-table{
    align-items: center;
    background: #F7F5FF;
    border-radius: 100px;
    color: #645CC3;
    display: flex;
    height: 76px;
    justify-content: center;
    margin: 0 auto 24px;
    width: 300px;
}
.prices__price-name{
    font-size: 20px;
    line-height: 32px;
}
.prices__price-text{
    font-size: 14px;
    line-height: 20px;
    opacity: 0.5;
}
.prices__price-column_1{
    padding-right: 18px;
    position: relative;
}
.prices__price-column_1::after{
    background-color: #645CC3;
    content: "";
    height: 37px;
    opacity: .2;
    position: absolute;
    right: 0;
    top: 8px;
    width: 1px;
}
.prices__price-column_2{
    padding-left: 16px;
}
.prices__list{
    margin: 0 20px 10px;
}
.prices__price-desc{
    background: url(../img/prices/prices-check.svg) no-repeat left top;
    background-size: 20px;
    line-height: 20px;
    padding: 0 0 20px 32px ;
}
.prices__price-desc:last-child{
    max-width: 222px;
}
.price__arrows{
    display: flex;
    position: absolute;
    bottom: -55px;
    right: 0;
}
.price__arrow{
    align-items: center;
    background: #FFFFFF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    height: 60px;
    width: 60px;
}
.price__arrow:last-child{
    margin-left: 10px;
}
.price__arrow:hover, .price__arrow:focus, .price__arrow:active{
    background: #f1eaea;
}
.price__button-inner{
    display: flex;
    justify-content: center;
    padding-bottom: 71px;
}
.price__button{
    background: #645CC3;
    border-radius: 100px;
    color: #FFFFFF;
    font-size: 16px;
    line-height: 24px;
    padding: 18px 48px;
}
.price__button:hover, .price__button:focus, .price__button:active{
    background: #534ca1;
}

/* ----------- Main - Gifts ----------- */
.gifts__title{
    font-size: 36px;
    line-height: 32px;
    padding: 291px 0 60px;
}
.gifts__cards{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 120px;
}
.gifts__card{
    background: #F7F7F8;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    height: 190px;
    justify-content: space-between;
    padding: 24px 30px;
    width: 410px;
}
.gifts__card_1{
    background: #F7F7F8;
}
.gifts__card_2{
    background: linear-gradient(90deg, #645CC3 0%, rgba(100, 92, 195, 0.75) 100%);
}
.gifts__card_3{
    background: linear-gradient(90deg, #FFC600 0%, rgba(255, 198, 0, 0.5) 100%);
}
.gifts__card_4{
    background: linear-gradient(90deg, #FB4516 0%, rgba(251, 69, 22, 0.75) 100%);
}
.gifts__card_5{
    background: linear-gradient(90deg, #5CD8B4 0%, rgba(92, 216, 180, 0.75) 100%);
}
.gifts__card_6{
    background: linear-gradient(90deg, #D35CDE 0%, #FF7BC4 100%);
}
.gifts__icon{
    width: 32px;
    height: 32px;
}
.gifts__text{
    font-size: 18px;
    line-height: 24px;
}
.gifts__text_2, .gifts__text_4, .gifts__text_5, .gifts__text_6{
    color: #FFFFFF;
}


/* ----------- Main - Process ----------- */
.process{
    background: #F7F7F8;
    position: relative;
    overflow: hidden;
}
.process__inner{
    position: relative;
    z-index: 1;
}
.process__background-img{
    position: absolute;
    right: 0;
    top: 74px;
}
.process__title{
    font-size: 64px;
    line-height: 61px;
    padding: 120px 0 30px;
}
.process__subtitle{
    font-size: 32px;
    line-height: 32px;
    margin-bottom: 60px;
}
.process__cards{
    display: flex;
    gap: 30px;
    padding-bottom: 295px;
}
.process__card{
    display: flex;
    background-color: #fff;
    border-radius: 12px;
    flex-basis: 350px;
    flex-direction: column;
    height: 350px;
    justify-content: space-between;
    padding: 30px;
}
.process__icon{
    width: 32px;
    height: 32px;
}
.process__card-title{
    font-size: 20px;
    line-height: 28px;
    padding-bottom: 12px;
}
.process__card-text{
    font-size: 14px;
    line-height: 20px;
}


/* ----------- Main - Free ----------- */
.free{
    background: linear-gradient(90deg, #645CC3 0%, rgba(100, 92, 195, 0.75) 100%);
}
.free__fly{
    background: linear-gradient(85.79deg, #FFC600 0%, #FFDD66 100%);
    border-radius: 24px;
    display: flex;
    height: 350px;
    margin: -175px 0 0;
    position: relative;
}
.free__fly-img{
    height: 316px;
    margin: 28px 0 0 -276px;
    width: 674px;
}
.free__fly-info{
    background: url(../img/free/sun.svg) no-repeat;
    margin: 66px 0 0 20px;
    max-width: 550px;
}
.free__fly-date{
    line-height: 24px;
    padding: 4px 0 16px 42px;
}
.free__fly-title{
    font-size: 36px;
    line-height: 44px;
}
.free__fly-links{
    margin-top: 40px; 
}
.free__fly-link{
    background: #FFFFFF url(../img/free/play.svg) no-repeat 18px center;
    border-radius: 100px;
    box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
    padding: 16px 25px 16px 50px;
}
.free__fly-about{
    border: 1px solid #141414;
    border-radius: 100px;
    margin-left: 12px;
    padding: 16px 30px;
}
.free__forms{
    display: flex;
    justify-content: space-between;
    padding: 120px 80px 160px;
    position: relative;
    z-index: 2;
}
.free__forms::before{
    border: 6px solid #FFFFFF;
    border-radius: 50%;
    content: "";
    height: 64px;
    left: -131px;
    opacity: 0.5;
    position: absolute;
    top: 65px;
    width: 64px;
}
.free__forms-left{
    color: #FFFFFF;
    width: 472px;
}
.free__forms-title{
    font-size: 36px;
    line-height: 44px;
    padding-bottom: 40px;
}
.free__forms-subtitle{
    font-size: 24px;
    line-height: 32px;
    padding-bottom: 24px;
}
.free__forms-list{
    font-family: 'Gotham Pro Regular';
}
.free__forms-item{
    background: url(../img/free/circle.svg) no-repeat left;
    line-height: 24px;
    margin: 0 0 12px 0;
    padding: 0px 0px 0px 12px;
}
.free__forms-right{
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 8px 25px 90px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 30px 40px 40px;
    position: relative;
    width: 400px;
}
.free__form-title{
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 30px;
}
.free__form-name, .free__form-phone{
    background: #F7F7F8;
    border-radius: 100px;
    height: 48px;
    padding: 0px 0px 0px 24px;
    width: 320px;
}
.free__form-phone{
    margin: 12px 0 30px;
}
.free__form-button{
    background: #645CC3;
    border-radius: 100px;
    color: #FFFFFF;
    height: 48px;
    width: 320px;
}
.free__form-image{
    left: -230px;
    position: absolute;
    top: -60px;
    z-index: -1;
}


/* ----------- Footer ----------- */
.footer__wrapper{
    display: flex;
    justify-content: space-between;
    padding: 60px 80px 86px;
}
.footer__contacts{
    max-width: 250px;
}
.footer__contacts-tel{
    font-size: 24px;
    line-height: 32px;
    margin: 0px 0px 10px 0px;
}
.footer__contacts-time{
    font-size: 14px;
    line-height: 18px;
    margin: 0px 0px 24px 0px;
}
.footer__socials-link{
    font-size: 0;
    margin: 0px 12px 0px 0px;
}
.footer__socials-icon{
    height: 32px;
    width: 32px;
}
.footer__politics-item{
    color: #8B8B8B;
    font-family: 'Gotham Pro Regular';
    font-size: 14px;
    line-height: 20px;
    margin: 0px 0px 15px 0px;
}
.footer__downloads-link:last-child{
    margin: 0px 0px 0px 8px;
}



